{% if product.tags contains 'quote-only' %}
<style>
  .ced_add{
    display:none !important;
  }
  </style>
  {% endif %}
  
<div class="product-form__payment-container" {{ block.shopify_attributes }}>
  <div class="main_blocks_wrap_ced">
  <div class="wrap_wuantity_ced">
  {%- if product.template_suffix != 'contact' -%}
    {%- if block.settings.show_quantity_selector -%}
      <div class="product-form__info-item product-form__info-item--quantity">
        <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">{{ 'product.form.quantity' | t }}</label>
        
        <div class="product-form__info-content">
          <div class="quantity_select_ced_wrap">
        <select
            id="product-quantity-select"
            class="form-field-input form-field-select quantity-selector__value quantity_select_ced"
            aria-label="{{ 'general.general.quantity' | t }}"
            data-quantity-select name="quantity"
          >
            {% for i in (1..9) %}
              <option {% if i == 1 %}selected {% endif %}value="{{ i }}">
                {{ i }}
              </option>
            {% endfor %}
            <option value="10+">
              10+
            </option>
          </select>
        </div>
          
          <div class="quantity-selector quantity-selector--product quantity_input_ced_wrap">
            <button type="button" style="display:none" class="quantity-selector__button" data-action="decrease-picker-quantity" aria-label="{{ 'cart.items.decrease_quantity' | t }}" title="{{ 'cart.items.decrease_quantity' | t }}">{% render 'icon', icon: 'minus' %}</button>
            <input disabled {%if show_bundle_products%}data-has-bundle-products{%endif%} aria-label="{{ 'product.form.quantity' | t }}" class="quantity_input_ced quantity-selector__value" inputmode="numeric" value="1" size="3">
            <button type="button" style="display:none" class="quantity-selector__button" data-action="increase-picker-quantity" aria-label="{{ 'cart.items.increase_quantity' | t }}" title="{{ 'cart.items.increase_quantity' | t }}">{% render 'icon', icon: 'plus' %}</button>
          </div>

          
        </div>
        
      </div>
    {%- else -%}
      <input {%if show_bundle_products%}data-has-bundle-products{%endif%} type="hidden" name="quantity" value="1">
    {%- endif -%}
  {%- endif -%}
  </div>
  <div class="wrap_buy_btn_ced">
  {%- if product.template_suffix != 'contact' -%}
    
    {%- if product.selected_or_first_available_variant.available -%}
      
      {%- if product.template_suffix == 'pre-order' -%}
        <button type="submit" class="product-form__add-button button button--primary button--full" data-action="add-to-cart">{{ 'product.form.pre_order' | t }}</button>
      {%- else -%}
        
        <button type="submit"   class="ced_add product-form__add-button button button--primary button--full" data-action="add-to-cart">{{ 'product.form.add_to_cart' | t }}</button>
        
      {%- endif -%}
         
    {%- else -%}
      
      <button type="submit" class="product-form__add-button button button--disabled button--full" disabled>{% if product.metafields.custom.stock_msg == 'Item Discontinued'%}{{ product.metafields.custom.stock_msg}}{% else %}{{ 'product.form.sold_out' | t }}{% endif %}</button>
      
    {%- endif -%}
   
    {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
      {{ form | payment_button }}
    {%- endif -%}
  {%- else -%}
    <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
  {%- endif -%}
  </div>
</div>
  {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}
</div>
{{ form | payment_terms }}
  